<div class="flex items-center flex-col">
  <img src="https://via.placeholder.com/150" width="150px" height="150px">
  <div class="font-bold mt-3 text-center">
    {{ product.name }}
  </div>
  <div>
    {{ product.price }} PLN
  </div>
  <div class="text-xs text-gray-60">
    <span [ngClass]="{'text-red-600': product.quantity === 0}">
      Avaiable: 
      <strong>
        {{ product.quantity }}
      </strong>
    </span>
  </div>
  <button (click)="addToCart()" [disabled]="product.quantity == 0" [ngClass]="{'cursor-not-allowed': product.quantity == 0, 'opacity-50': product.quantity == 0}" 
    class="mt-4 bg-transparent hover:bg-yellow-600 text-yellow-900 font-semibold hover:text-white py-2 px-4 border border-yellow-900 hover:border-transparent rounded " [disabled]="product.quantity === 0">
    Add to Cart
  </button>
</div>
