<div class="flex items-center flex-col mt-4 px-12">
  <img src="https://via.placeholder.com/150" class="w-full">
  <div class="font-bold mt-3 text-center">
    {{ product.name }}
  </div>
  <div>
    {{ product.price.toFixed(2) }} PLN
  </div>
  <div class="text-xs text-gray-60">
    <span [ngClass]="{'text-red-600': product.quantity === 0}">
      Available: 
      <strong>
        {{ product.quantity }}
      </strong>
    </span>
  </div>
  <button (click)="addToCart()" [ngClass]="{'cursor-not-allowed': product.quantity == 0, 'opacity-50': product.quantity == 0}" 
    class="mt-4 bg-transparent hover:bg-yellow-600 text-yellow-900 font-semibold hover:text-white py-2 px-4 border border-yellow-900 hover:border-transparent rounded " [disabled]="product.quantity === 0">
    Add to Cart
  </button>
</div>
